# Prerequisites
*.d
*.zip

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/palirates_server/.vs
/palirates_server/palirates_server/x64
/palirates_server/x64

/Palirates/.vs
/Palirates/Palirates/x64
/Palirates/x64
/Palirates/Palirates/Scene/Havana.bin
/Palirates/Palirates/Scene/**/*.txt
/Palirates/Palirates/CONERR$
palirates_server/palirates_server/palirates_server.sln
palirates_server/palirates_server/Timer.cpp
palirates_server/palirates_server/Timer.h
palirates_server/palirates_server/.vs/palirates_server/FileContentIndex/0fcb83fc-b30d-46c8-a3b0-1430c3c009b6.vsidx
palirates_server/palirates_server/.vs/palirates_server/v17/.suo
palirates_server/palirates_server/.vs/palirates_server/v17/Browse.VC.db
palirates_server/palirates_server/.vs/palirates_server/v17/DocumentLayout.json
palirates_server/palirates_server/.vs/palirates_server/v17/fileList.bin
palirates_server/palirates_server/.vs/palirates_server/v17/Solution.VC.db
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/406d7dfe7815cefa.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/4ca256d317a8a22e.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/5825f5ac7da0238.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/9894b7dadb370155.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/a3745777da364482.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/d552fba712946648.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/1c4687fbc609859f/MONSTERMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/24072c2395dabf61/LOBBYMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/256b75ca6e0adcd9/SCENEMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/36e77a7018a4ae3f/SCENEMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/4c4dbb6284d045be/SCENE.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/4df9a47295caac61/MONSTERMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/630c751c8c6c5499/LOBBYMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/65245e4d8485616e/OBJECTMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/7e79bb5ba4eb5591/SCENEMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/8974fead0984bfdf/SERVER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/8d7e98d13be15221/SERVER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/8e5b58f195b385d5/PLAYER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/967848dfb6f6abe2/LOBBYMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/9c75d7bd0881e9b9/SERVER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/9d7286c8af38256c/OBJECTMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/a489b2ea8abb5757/MONSTERMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/a8b53df735f773c8/SCENE.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/abf9787d44ad88a7/PLAYER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/c53beebde611ab40/SCENE.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/dbc2f1fe817c9dbf/LOBBYMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/e15cc43d407d5680/LOGGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/e2e0e330b9e6ae58/MONSTERMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/ea8905ceb7b672a2/LOGGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/f65de8b46070efca/LOGGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/f716f9b661b7a746/OBJECTMANAGER.ipch
palirates_server/palirates_server/.vs/palirates_server/v17/ipch/AutoPCH/ff2e0913de543042/MONSTERMANAGER.ipch
